- name: Update packages
  dnf:
    name: "*"
    state: latest

- name: Install Docker
  dnf:
    name: docker
    state: present

- name: Start Docker
  systemd:
    name: docker
    state: started
    enabled: yes

- name: Add ec2-user to docker group
  user:
    name: ec2-user
    groups: docker
    append: yes
